<div id="game-container"
     class="row"
     (keydown)="movement($event)"
     (mousedown)='onMouseDown()'
     (mouseup)='onMouseUp()'
     (mouseleave)='onMouseUp()'
     (mousemove)="onMouseMove($event)"

     tabindex="-1"
     gameDirective
>
  <div *ngFor="let tile of tiles; let i = index"
       TileDirective
       [tile]="tile"
       [rowIndex]='getRowIndex(i)'
       [columnIndex]='getColIndex(i)'
       (keydown)="movement($event)"
       class="d-flex align-items-center justify-content-center"
  >
  </div>
</div>

<div class="row justify-content-center">
  <button class="btn btn-secondary arr" (click)='mobileMove("up")'>&uarr;</button>
</div>
<div class="row justify-content-center">
  <button class="btn btn-secondary arr mr-4" (click)='mobileMove("left")'>&larr;</button>
  <button class="btn btn-secondary arr ml-4" (click)='mobileMove("right")'>&rarr;</button>
</div>
<div class="row justify-content-center">
  <button class="btn btn-secondary arr" (click)='mobileMove("down")'>&darr;</button>
</div>

<div class="row">
  <div class="col-12 d-flex justify-content-center mt-3">
    <button class="btn btn-info restart-button"
    [ngStyle]='{"display": inPlay ? "none" : "block"}'
    (click)='restartGame()'>
    Restart
    </button>
  </div>
</div>
