<div bp="grid">
  <div id="game-container"
      bp="12"
      (keydown)="movement($event)"
      tabindex="-1"
      gameDirective
  >
    <div *ngFor="let tile of tiles; let i = index"
        TileDirective
        [tile]="tile"
        [index]="i"
        (keydown)="movement($event)"
        class="d-flex align-items-center justify-content-center tile"
    >
    {{ tile.value }}
    </div>
  </div>
  <div bp="offset-4 6 offset-6@md 2@md margin-top--lg">
    <button class="btn btn-info" [ngStyle]="{'display': inPlay ? 'none' : 'block'}" (click)="restartGame()">
      Restart
    </button>
  </div>
</div>