
.tile {
  min-height: 75px;
  min-width: 75px;
}

div.create {
  animation: initiate linear 1 0.5s;
}

.empty::after {
  content: '';
}

div#game-container {
  outline: none;
}

button.hide {
  display: none;
}

button.show {
  display: block;
  position: fixed;
}
@keyframes initiate {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;

  }
}
