
.tile {
  user-select: none;
  border-radius: 2px;
}

.empty::after {
  content: '';
}

div#game-container {
  outline: none;
  margin: 0 auto;
  position: relative;
  border: outset 3px #aaa;
  background-color: #ddd;
}

button.hide {
  display: none;
}

button.show {
  display: block;
  position: fixed;
}

button.arr {
  margin: 3px;
}

@media (min-width: 700px) {
  button.arr { display: none;}
}
