
.tile {
  height: 75px;
  width: 75px;
  user-select: none;
}

.empty::after {
  content: '';
}

div#game-container {
  outline: none;
  margin: 0 auto;
  position: relative;
  width: 302px;
  height: 302px;
  border: outset 1px black;
  background-color: #dddddd;
}

button.hide {
  display: none;
}

button.show {
  display: block;
  position: fixed;
}

button.arr {
  margin: 3px;
}

@media (min-width: 700px) {
  button.arr { display: none;}
}
