<!--
<mat-slider id="vertical" thumbLabel (input)="test($event)" class="vertical-slider" vertical min="2" max="8" value="4" step="1"></mat-slider>
<hr class="vertical" [width]="height" style="top: 62px;"/>
<hr [width]="width" style="right: 86px;"/>

<mat-slider id="horizontal" thumbLabel min="2" max="8" value="4" step="1" (input)="test($event)"></mat-slider>

<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu> -->
