<div bp="container">
  <div bp="grid">
    <div bp="10 offset-2 8@md offset-4@md" [ngStyle]="{'color': fontColour}">
      <app-scoreboard></app-scoreboard>
    </div>
    <div bp="12">
      <app-game>
      </app-game>
      <mat-form-field style="position: absolute; right: 0px">
        <mat-label>Theme</mat-label>
        <mat-select (selectionChange)="themeHandler($event)" [ngStyle]="{'color': fontColour}">
          <mat-option selected value="light" selected>Light Mode</mat-option>
          <mat-option value="dark">Dark Mode</mat-option>
          <mat-option value="lilac">Lilac Mode</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
